extends layout

block layout-content
  div.View
    h1.Banner Library Management
    
    div.Title
      h3 Select your operation 
     
    // span.Details this is example text 
    div.NavButtons
      a(href="/get-all")  
          div.NavButton get-all
      a(href="/test/test.html")  
          div.NavButton add-book
      a(href="/isAwake")  
          div.NavButton isAwake
    
    form(action="/isAwake", method="GET")
    div 
      label What greeting do you want to say?
      input(name="say" ,id="say" ,value="Hi")
      input(type="button", value="Submit")

