extends layout

block layout-content
  div.View
    h1.Banner Library Management
    
    div.Title
      h3 Select your operation 
     
    // span.Details this is example text 
    div.NavButtons
      a(href="/get-all")  
          div.NavButton get-all
      a(href="/test/test.html")  
          div.NavButton add-book
      a(href="/isAwake")  
          div.NavButton isAwake
    
    form(action="/add-book", method="post")
    div 
      label enter author
      input(name="author",id="author" ,value="DcPandey")
      label enter title 
      input(name="title",id="title " ,value="phys")
      label enter genere 
      input(name="genere",id="genere" ,value="academics")

      input(type="button", value="Submit")

